body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F6F0E2;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }

.container-top {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 200px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #372e1e;
    background-color: #F6F0E2;
}

.navbar {
    position: fixed;
    top: 108px;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #372e1e;
    background-color: #F6F0E2;
}

.dropdown-menu {
    background-color: #F6F0E2;
}


.form-box .tr-box {
    position: relative;
}

.form-box .tr-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #282828;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #282828;
    outline: none;
    background: transparent;
    border-radius: 0;
}

.form-box .tr-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #282828;
    pointer-events: none;
    transition: .5s;
}

.form-box .tr-box input:focus ~ label,
.form-box .tr-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #1e1e1e;
    font-size: 12px;
}

.form-box form .inp-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #F6F0E2;
    background-color: #384840;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 8px;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.form-box .inp-btn:hover {
    background: #313f38;
    color: #282828;
    border-radius: 8px;
    box-shadow: 0 0 5px #384840;
}

a {
    text-decoration: none;
    color: #384840;
}

.custom-dropdown {
    position: relative;
}

.custom-dropdown select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #282828;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #282828;
    outline: none;
    background: transparent;
    cursor: pointer;
    background-color: #F6F0E2;
}

.custom-dropdown select option {
    padding: 20px 20px !important;
}

@media (max-width: 768px) {
    .navbar .dropdown-menu {
        position: static;
        float: none;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .dropdown-item:focus .dropdown-toggle:focus .dropdown-menu:focus .dropdown:focus {
        outline: none;
    }
}

.back-btn {
    padding: 5px 10px;
    background-color: #384840;
    color: #F6F0E2;
    border-radius: 8px;
    border-color: #384840;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.back-btn:hover {
    background-color: #313f38;
    border-color: #313f38;
}

.footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: #F6F0E2;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
    color: #292929;
    border-top: 1px solid #372e1e;
}

.footer a{
    text-decoration: none;
    font-size: 12px;
}

.footer ul{
    list-style-type: none;
    padding: 0;
}

.footer h5{
    font-size: 14px;
    font-weight: 600;
}

.footer p{
    font-size: 12px;
    margin: 0;
}